<h3>TV Listings</h3>
    <br><br>
    <div ng-show="isLoading">
        <p>Please wait while your schedule is loading...</p>
        <div><img src="{{ randomGif }}"></div>
    </div>

    <ul>
        <div ng-repeat="show in shows">
            <b>{{ show.title }}</b>
            <br>
            <br>
            <div>
            <div ng-if="thereAreListingsAvailable(show.listings)">
                <li ng-repeat="listing in show.listings">
                    {{ listing["program"]["title"] }}: {{ listing["program"]["episodeTitle"] }}
                    <br>
                    Season: {{ listing["program"]["seasonNum"] }}, Episode: {{ listing["program"]["episodeNum"] }}
                    <br>
                    {{ listing["station"]["callSign"] }}
                    <br>
                    {{ listing["startTime"] }}
                </li>
            </div>
            <div ng-if="thereAreNoListingsAvailable(show.listings)">
                Sorry, there are currently no available listings.
            </div>
            <br>
            <br>
        </div>
    </ul>



