<h3>TV Listings</h3>
    <div ng-show="isLoading">
        <p>Please wait while your schedule is loading...</p>
        <div><img src="{{ randomGif }}"></div>
    </div>

    <ul>
        <div ng-repeat="show in shows">
            <b>{{ show.title }}</b>
            <br>
            <li ng-repeat="listing in show.listings">
                {{ listing["program"]["title"] }}: {{ listing["program"]["episodeTitle"] }}
                <br>
                Season: {{ listing["program"]["seasonNum"] }}, Episode: {{ listing["program"]["episodeNum"] }}
                <br>
                {{ listing["station"]["callSign"] }}
                <br>
                {{ listing["startTime"] }}
            </li>
            <br>
        </div>
    </ul>



