#logo {
    height: 60px;
    width: 180px;
    display: inline-block;
    padding-top: 5px;
}

.navbar-default {
    background-color: rgb(255,250,250);
}

.navbar-brand img {
    height: 100%;
}

.navbar-nav {
    vertical-align: center;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.flashed {
    font-size: 16px;
    border-color: white;
    color: black;
    padding-top: 10px;
}

body {
    background: rgba(38, 143, 174, .9);
    background-image: url("/static/background.png");
    background-size: 50%;
    background-repeat: repeat-y repeat-x;
    font-family: Roboto, sans-serif;
}

.header {
    font-family: Roboto, sans-serif;
    font-style: bold;
}

#homepage-text {
    padding-bottom: 20px;
}

h1 {
    font-family: Roboto, sans-serif;
    font-style: bold;    
}

.header li a {
    padding: 5px;
}

div.box {
    background: rgba(255,250,250,.9);
    box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    width: 600px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 40px;
}

button {
    font-family: Roboto, sans-serif;
}

input {
    font-family: Roboto, sans-serif;
}

.buttonHolder {
    text-align: center;
}

.results {
    padding: 20px;
}

.thumbnail {
    background-color: rgba(255,250,250,.9);
}

.angular-show {
    padding-left: 75px;
    padding-top: 0;
}

.ang-show-info {
    padding-left: 20px;
}

.navbar-angular li a {
    font-family: Roboto, sans-serif;
    color: #333;
    text-decoration: underline;
}

#show-tabs {
    padding-left: 5px;
    font-size: 24px;
}

.information {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.title {
    padding-left: 50px;
}

.image-favorite {
    padding-left: 50px;
    padding-bottom: 30px;
}

.favorites-list {
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.favorites-list li a {
    color: black;
    font-size: 16px;
}

#favorites-ls-st {
    padding-left: 0;
    font-size: 24px;
    color: #333;
    text-decoration: underline;
    font-style: bold;
}

.angular-favorites {
    padding-left: 75px;
    padding-top: 5px;
    padding-bottom: 40px;
    font-size: 16px;
}

.angular-favorites li a {
    color: #333;
    text-decoration: underline;
}

.emailaddress {
    font-size: 16px;
}

.white-box {
    background-color: rgba(255,250,250,.9);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    border-radius: 5px;
}

.outer {
    background-color: rgba(255,250,250,.9);
    margin-top: 100px;
    border-radius: 5px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    vertical-align: center;
}

h3 {
    font-family: Roboto, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

.email {
    margin-top: 10px;
    padding-bottom: 60px;
}

.password {
    margin-top: 10px;
    padding-bottom: 60px;
}

.login {
    margin-top: 10px;
    padding-bottom: 30px; 
}

.newuser {
    margin-top: 20px;
}

.signup {
    background-color: rgba(255,250,250,.9);
    margin-top: 90px;
    border-radius: 5px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    vertical-align: center;
}

.signup-button {
    padding-bottom: 60px;
}
