{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<br><br><br><br><br>
<div class="box container-fluid">
    <div class="col-xs-12 text-center header" id="homepage-text">
        <h1>Find your favorite show!</h1>
    </div>
    <br><br>
    <div class="col-xs-12">
        <form action="/search-results" class="form-actions" id="search_input">
            <div class="col-xs-6 col-xs-offset-3">
                <input type="text" class="form-control" name="search" placeholder="Series Title">
            </div>
            <br><br>
            <div class="buttonHolder">
                <button type="submit" class="btn btn-default"> 
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Search!
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}




