{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block navbar %}
    {% if "current_user" not in session %}
    <li><a href="/login">Login</a></li>
    {% else %}
    <li><a href="/user-profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<h3>Find your favorite show!</h3>
<form action="/search-results" id="search_input">
    <input type="text" name="search">
    <br>
    <input type="submit" value="Search!">
</form>

{% endblock %}




