{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<form action="/search-results" id="search_input">
    <input type="text" name="search">
    <br>
    <input type="submit" value="Search!">
</form>

<script>
    
    function encodeSearch(evt) {
        debugger;
        evt.preventDefault();
        var uri = $("#search_input").val();
        var res = encodeURI(uri);
        console.log(res);
    }

    $("#search_input").on("submit", encodeSearch);


</script>

{% endblock %}




