{% extends 'base.html' %}
{% block title %}Series!{% endblock %}
{% block header %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/united/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <script src="/static/showpage.js"></script>
{% endblock %}
{% block content %}

<h1>{{ show_info.title }}</h1>

<div><img src="{{ show_info.artwork_urls }}"</div>

<br><br>

{% if "current_user" in session %}
<button class="favorite-btn" id="{{ show_info.guidebox_id }}">
    {% if favorited %}
    &#10003; 
    {% endif %}
    Favorite</button>
{% endif %}
<br><br>
<div>
    <ul class="nav navbar-nav">
        <li><a href="#/show_info">Info</a></li>
        <li><a href="#/streaming">Streaming</a></li>
        <li><a href="#/tv_listing">TV Listings</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div ng-view></div>

            </div>
        </div>
    </div>
</div>
<script>
    //when the favorite button is clicked, submit post request to add/delete from favorites table
    function addToFavoritesList(evt) {
        var id = this.id;
        var buttonContent = $('.favorite-btn').html()
        $.post('/save_to_favorites', {'id': id, 'button_content':buttonContent}, changeButtonStatus);
    
    }

    //receiving the information from the server to determine whether the favorite button has a checkmark or not
    function changeButtonStatus(result) {
        var id = result["show_id"];
        if (result["favorite"] == "True") {
            $('#' + id).html('&#10003; Favorite');
        }
        else {
            $('#' + id).html('Favorite');
        }    
    }

    //event listener on the favorite button
    $('.favorite-btn').click(addToFavoritesList);

    $('#myTabs a').click(function (e) {
                      e.preventDefault()
                      $(this).tab('show')
                    })
</script>

{% endblock %}
</html>





