{% extends 'base.html' %}

{% block title %}Series!{% endblock %}

{% block content %}

<h1>{{ show_info["title"] }}</h1>
<div><img src="{{ show_info["artwork_208x117"] }}"</div>
<br><br>
{% if "current_user" in session %}
<button class="favorite-btn" id="{{ show_info["id"] }}">
    {% if favorited %}
    &#10003; 
    {% endif %}
    Favorite</button>
{% endif %}
<p id="first-aired">First Aired: {{ show_info["first_aired"][0:4] }}</p>
<p id="network">Network: {{ show_info["network"] }}</p>
<p id="description">Description: {{ show_info["overview"] }}</p>
<p>
    <h3>Seasons</h3>
    {% for season in seasons_results %}
        <ul>
            <li>Season {{ season["season_number"] }} 
                ({% if season["first_airdate"] %} 
                    {{ season["first_airdate"][0:4] }}
                {% else %}
                    N/A
                {% endif %})</li>
        </ul>
    {% endfor %}
</p>
<p>
    <h3>Available Online</h3>
    {% for source in all_streaming_sources %}
        <ul>
            <li>{{ source["display_name"] }}</li>
        </ul>
    {% endfor %}
</p>
<p>
    <h3>Where to Watch on Cable TV</h3>
    {% if airings %}
        {% for airing in airings %}
            <ul>
                <li>{{ airing["program"]["title"] }}: {{ airing["program"]["episodeTitle"] }}</li>
                <li>Season: {{ airing["program"]["seasonNum"] }}, Episode: {{ airing["program"]["episodeNum"] }}</li>
                <li>{{ airing["station"]["callSign"] }}</li>
                <li>{{ airing["startTime"] }}</li>
            </ul>
        {% endfor %}
    {% else %}
        <p>Currently there are no upcoming airings of {{ show_info["title"] }}.</p>
    {% endif %}
</p>
<script>
    //when the favorite button is clicked, submit post request to add/delete from favorites table
    function addToFavoritesList(evt) {
        var id = this.id;
        var buttonContent = $('.favorite-btn').html()
        $.post('/save_to_favorites', {'id': id, 'button_content':buttonContent}, changeButtonStatus);
    
    }

    //receiving the information from the server to determine whether the favorite button has a checkmark or not
    function changeButtonStatus(result) {
        var id = result["show_id"];
        if (result["favorite"] == "True") {
            $('#' + id).html('&#10003; Favorite');
        }
        else {
            $('#' + id).html('Favorite');
        }    
    }

    //event listener on the favorite button
    $('.favorite-btn').click(addToFavoritesList);

</script>

{% endblock %}


