{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}
{% block header %}
<script src="/static/favoriteslist.js"></script>
{% endblock %}
{% block content %}

<p>Email: {{ session["current_user"] }}</p>

<h3>Favorite's List</h3>
{% if user.favorites %}
    <ul>
    {% for favorite in user.favorites %}

        <li><a href="/show/{{ favorite.show.guidebox_id }}">{{ favorite.show.title }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>You don't have any favorited shows yet!</p>
{% endif %}
<br><br>

<h4>Find your favorite shows!</h4>

{% raw %}
<div ng-app="favoritesListings">
    <ul class="nav navbar-nav">
        <li><a href="#/all_favorites_listings">TV Listings</a></li>
        <li><a href="#/all_streaming">Online</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div ng-view></div>

            </div>
        </div>
    </div>
</div>
{% endraw %}

{% endblock %}





