<p id="first-aired">First Aired: {{ show_info["first_aired"][0:4] }}</p>
<p id="network">Network: {{ show_info["network"] }}</p>
<p id="description">Description: {{ show_info["overview"] }}</p>
<p>
    <h3>Seasons</h3>
    {% if seasons_results %}
        {% for season in seasons_results %}
            <ul>
                <li>Season {{ season["season_number"] }} 
                    ({% if season["first_airdate"] %} 
                        {{ season["first_airdate"][0:4] }}
                    {% else %}
                        N/A
                    {% endif %})</li>
            </ul>
        {% endfor %}
    {% endif %}
</p>